# 결측데이터 처리하기

## Iris 데이터 받기

In [1]:
import pandas as pd    # pandas package import

# 데이터프레임의 컬럼명 지정

col = ["꽃받침길이", "꽃받침너비", "꽃잎길이", "꽃잎너비", "붓꽃종류"]

# 웹에 있는 CSV 파일 읽어와서 데이터프레임 df로 넣는다.

df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names = col)

df

     꽃받침길이  꽃받침너비  꽃잎길이  꽃잎너비            붓꽃종류
0      5.1    3.5   1.4   0.2     Iris-setosa
1      4.9    3.0   1.4   0.2     Iris-setosa
2      4.7    3.2   1.3   0.2     Iris-setosa
3      4.6    3.1   1.5   0.2     Iris-setosa
4      5.0    3.6   1.4   0.2     Iris-setosa
..     ...    ...   ...   ...             ...
145    6.7    3.0   5.2   2.3  Iris-virginica
146    6.3    2.5   5.0   1.9  Iris-virginica
147    6.5    3.0   5.2   2.0  Iris-virginica
148    6.2    3.4   5.4   2.3  Iris-virginica
149    5.9    3.0   5.1   1.8  Iris-virginica

[150 rows x 5 columns]

- NULL 값을 가지는 데이터 추가 (데이터 값 None)

In [3]:
import numpy as np    # numpy 패키지 import

new_data = [[4.8, None, 3.0, 1.9, "iris-setosa"]]   # 하나의 데이터 행 추가, 꽃받침의너비에 강제로 None값 추가
new_df = pd.DataFrame(new_data, columns= df.columns) # 새롭게 추가된 행으로 dataframe을 만듦
df = pd.concat([df, new_df], ignore_index=True) # 기존 df에 새롭게 만든 행을 추가   

df

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_6460\3207382676.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_df], ignore_index=True) # 기존 df에 새롭게 만든 행을 추가

     꽃받침길이  꽃받침너비  꽃잎길이  꽃잎너비            붓꽃종류
0      5.1    3.5   1.4   0.2     Iris-setosa
1      4.9    3.0   1.4   0.2     Iris-setosa
2      4.7    3.2   1.3   0.2     Iris-setosa
3      4.6    3.1   1.5   0.2     Iris-setosa
4      5.0    3.6   1.4   0.2     Iris-setosa
..     ...    ...   ...   ...             ...
146    6.3    2.5   5.0   1.9  Iris-virginica
147    6.5    3.0   5.2   2.0  Iris-virginica
148    6.2    3.4   5.4   2.3  Iris-virginica
149    5.9    3.0   5.1   1.8  Iris-virginica
150    4.8    NaN   3.0   1.9     iris-setosa

[151 rows x 5 columns]

- 기존의 첫번째 데이터의 꽃받침 길이와 꽃받침 너비의 값을 삭제(결측 데이터)

In [ ]:
df.iloc[0, 0] = np.NaN    # df의 0번째 행, 0번째 열의 데이터를 NaN으로 강제 교체 (NaN은 numpy에서 지원하는 NULL 데이터)
df.iloc[0, 1] = np.nan    # df의 0번째 행, 1번째 열의 데이터를 nan로 강제 교체 (nan은 pandas에서 표준 결측값으로 인식하는 NULL 데이터)

- 데이터에서 결측치가 잘 들어 갔는지 확인

In [5]:
df

     꽃받침길이 꽃받침너비  꽃잎길이  꽃잎너비            붓꽃종류
0      NaN   NaT   1.4   0.2     Iris-setosa
1      4.9   3.0   1.4   0.2     Iris-setosa
2      4.7   3.2   1.3   0.2     Iris-setosa
3      4.6   3.1   1.5   0.2     Iris-setosa
4      5.0   3.6   1.4   0.2     Iris-setosa
..     ...   ...   ...   ...             ...
146    6.3   2.5   5.0   1.9  Iris-virginica
147    6.5   3.0   5.2   2.0  Iris-virginica
148    6.2   3.4   5.4   2.3  Iris-virginica
149    5.9   3.0   5.1   1.8  Iris-virginica
150    4.8  None   3.0   1.9     iris-setosa

[151 rows x 5 columns]

- 결측값 식별 - info() 메소드, isnull() 메소드

In [10]:
df.info()     # RangeIndex: 151 <----원래 행은 151개의 행이나,
              # 꽃받침의길의 열에는 Non-Null이라는 행은 150개임, 즉 1개의 행은 결측치가 있다는 뜻임
              # 꽃받침의너비 열에는 Non-Null이라는 행은 149개임, 즉 2개의 행은 결측치가 있다는 뜻임

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   꽃받침길이   150 non-null    float64
 1   꽃받침너비   149 non-null    object
 2   꽃잎길이    151 non-null    float64
 3   꽃잎너비    151 non-null    float64
 4   붓꽃종류    151 non-null    object
dtypes: float64(3), object(2)
memory usage: 6.0+ KB

In [11]:
df.isnull()  # 데이터에 Null값이 있으면 True, 없으면 False를 출력하는 함수

     꽃받침길이  꽃받침너비   꽃잎길이   꽃잎너비   붓꽃종류
0     True   True  False  False  False
1    False  False  False  False  False
2    False  False  False  False  False
3    False  False  False  False  False
4    False  False  False  False  False
..     ...    ...    ...    ...    ...
146  False  False  False  False  False
147  False  False  False  False  False
148  False  False  False  False  False
149  False  False  False  False  False
150  False   True  False  False  False

[151 rows x 5 columns]

- 결측치의 통계를 사용하기

In [12]:
df.isnull().sum()    # 각 열의 결측기 갯수를 파악할 수 있음

꽃받침길이    1
꽃받침너비    2
꽃잎길이     0
꽃잎너비     0
붓꽃종류     0
dtype: int64

- 결측데이터 대체 -- 단순대치법 (완전분석법, 평균대치법)

- dropna() : 결측값이 있는 행 제거(완전분석법)
- drop([0,1]) : 행 삭제

In [14]:
df_new = df.dropna(axis=0)   # axis가 0이면 행을 제거 axis가 1이면 행을 제거
df_new

     꽃받침길이 꽃받침너비  꽃잎길이  꽃잎너비            붓꽃종류
1      4.9   3.0   1.4   0.2     Iris-setosa
2      4.7   3.2   1.3   0.2     Iris-setosa
3      4.6   3.1   1.5   0.2     Iris-setosa
4      5.0   3.6   1.4   0.2     Iris-setosa
5      5.4   3.9   1.7   0.4     Iris-setosa
..     ...   ...   ...   ...             ...
145    6.7   3.0   5.2   2.3  Iris-virginica
146    6.3   2.5   5.0   1.9  Iris-virginica
147    6.5   3.0   5.2   2.0  Iris-virginica
148    6.2   3.4   5.4   2.3  Iris-virginica
149    5.9   3.0   5.1   1.8  Iris-virginica

[149 rows x 5 columns]

In [16]:
# "꽃받침너비" 열에서 결측값을 제거하고 출력
df_new = df["꽃받침너비"].dropna()
df_new

1      3.0
2      3.2
3      3.1
4      3.6
5      3.9
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: 꽃받침너비, Length: 149, dtype: object

- fillna(): 결측값을 지정한 값으로 대체(평균대치법)

In [18]:
df    # 기존데이터 다시 확인

     꽃받침길이 꽃받침너비  꽃잎길이  꽃잎너비            붓꽃종류
0      NaN   NaT   1.4   0.2     Iris-setosa
1      4.9   3.0   1.4   0.2     Iris-setosa
2      4.7   3.2   1.3   0.2     Iris-setosa
3      4.6   3.1   1.5   0.2     Iris-setosa
4      5.0   3.6   1.4   0.2     Iris-setosa
..     ...   ...   ...   ...             ...
146    6.3   2.5   5.0   1.9  Iris-virginica
147    6.5   3.0   5.2   2.0  Iris-virginica
148    6.2   3.4   5.4   2.3  Iris-virginica
149    5.9   3.0   5.1   1.8  Iris-virginica
150    4.8  None   3.0   1.9     iris-setosa

[151 rows x 5 columns]

In [19]:
d_mean = df['꽃받침길이'].mean()    # 꽃받침길이의 평균값을 구함
df['꽃받침길이'].fillna(d_mean, inplace=True)  # d_mean의 값으로 결측값을 채움
df

        꽃받침길이 꽃받침너비  꽃잎길이  꽃잎너비            붓꽃종류
0    5.841333   NaT   1.4   0.2     Iris-setosa
1    4.900000   3.0   1.4   0.2     Iris-setosa
2    4.700000   3.2   1.3   0.2     Iris-setosa
3    4.600000   3.1   1.5   0.2     Iris-setosa
4    5.000000   3.6   1.4   0.2     Iris-setosa
..        ...   ...   ...   ...             ...
146  6.300000   2.5   5.0   1.9  Iris-virginica
147  6.500000   3.0   5.2   2.0  Iris-virginica
148  6.200000   3.4   5.4   2.3  Iris-virginica
149  5.900000   3.0   5.1   1.8  Iris-virginica
150  4.800000  None   3.0   1.9     iris-setosa

[151 rows x 5 columns]

- 결측값이 현재상태에서 얼마나 남았는지 확인

In [21]:
df.isnull().sum()    # 꽃받침너비에 아직 2개의 행에 걸쳐 결측데이터가 남아 있음을 확인 가능

꽃받침길이    0
꽃받침너비    2
꽃잎길이     0
꽃잎너비     0
붓꽃종류     0
dtype: int64